<?php
/**
 * @var \Itdelight\AdditionalCategoryProducts\Block\Adminhtml\Category\AssignProducts $block
 */

/**
 * @var \Itdelight\AdditionalCategoryProducts\Block\Adminhtml\Category\Tab\Product $blockGrid
 */
$blockGrid = $block->getBlockGrid();
$gridJsObjectName = $blockGrid->getJsObjectName();
?>
<?php echo $block->getGridHtml(); ?>
<input type="hidden" name="itdelight_category_products" id="itdelight_in_category_products" data-form-part="category_form" value="" />
<script type="text/x-magento-init">
    {
        "*": {
            "Itdelight_AdditionalCategoryProducts/catalog/category/assign-products": {
                "selectedProducts": <?php /* @escapeNotVerified */ echo $block->getProductsJson(); ?>,
                "gridJsObjectName": <?php /* @escapeNotVerified */ echo '"' . $gridJsObjectName . '"' ?: '{}'; ?>
            }
        }
    }
</script>
<script>
    require('mage/apply/main').apply();
</script>
