<div id="freeshipping-render-block" data-bind="scope: 'freeShippingComponent'">
<!-- ko template: getTemplate() --><!--/ko-->
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "freeShippingComponent": {
                        "component": "Itdelight_CustomerSection/js/freeshipping"
                    }
                }
            }
        }
    }
</script>
