
<!-- ko if: freeShippingData().hasFreeShipping-->
    <div data-bind="i18n: 'Free shipping available'"></div>
<!-- /ko-->

<!-- ko ifnot: freeShippingData().hasFreeShipping-->
    <div><span data-bind="html: freeShippingData().amountLeft"></span><span data-bind="i18n: ' left for free shipping'"></span></div>
<!-- /ko-->

