<?php
/** @var \Itdelight\CategoriesTabWidget\Block\Widget\CategoriesTab $block */
$mainCategories = $block->getMainCategories();
?>
<div class="product data items" data-mage-init='{"mage/tabs": {"openedState": "active", "animate": {"duration": 100}, "active": 0}}'>
    <?php /** @var \Magento\Catalog\Model\Category $mainCategory */ ?>
    <?php foreach ($mainCategories as $mainCategory): ?>
        <div class="item title" data-role="collapsible">
            <a class="switch" data-toggle="trigger" href="#tab-<?= $mainCategory->getId(); ?>}"><?= $mainCategory->getName(); ?></a>
        </div>
        <div id="tab-<?= $mainCategory->getId(); ?>" class="item content" data-role="content">
            <?php /** @var \Magento\Catalog\Model\Category $childrenCategory */ ?>
            <?php foreach ($block->getChildrenCategoryData($mainCategory) as $childrenCategory): ?>
                <a href="<?= $childrenCategory->getUrl(); ?>">
                    <?php if ($childrenCategory->getImageUrl()): ?>
                        <img alt="<?= $childrenCategory->getName(); ?>" src="<?= $childrenCategory->getImageUrl(); ?>">
                    <?php endif; ?>
                    <span><?= $childrenCategory->getName(); ?></span>
                    <span><?= $childrenCategory->getDescription() ?></span>
                </a>
            <?php endforeach; ?>
        </div>
    <?php endforeach; ?>
</div>
