<?php
/** @var \Itdelight\AdditionalCategoryProducts\Block\Product\Items $block */
/** @var \Magento\Catalog\Model\ResourceModel\Product\Collection $products */
$products = $block->getAssignedProductsByCartItems();
?>
<?php if ($products->count()): ?>
    <div class="additional-category-products">
        <h2 class="acp-title">
            <?php echo /* @escapeNotVerified */ __('Remember to also buy:'); ?>
        </h2>
        <table class="cart">
            <?php foreach ($products as $product): ?>
            <tbody class="cart item">
                <tr class="item-info">
                    <td class="col item-image">
                        <?php echo $block->getImage($product, 'cart_page_product_thumbnail')->toHtml(); ?>
                    </td>
                    <td class="col item-info">
                        <div class="product-item-details">
                            <strong class="product-item-name">
                                <span>
                                    <?php echo $product->getName(); ?>
                                </span>
                            </strong>
                            <?php if ($product->getDescription()) :  ?>
                                <p class="acp-description"><?php echo $product->getDescription(); ?></p>
                            <?php endif; ?>
                        </div>
                    </td>
                    <td class="col price">
                        <span class="price-including-tax">
                            <span class="cart-price">
                                <span class="price"><?php echo $block->getPrice($product); ?></span>
                            </span>
                        </span>
                    </td>
                    <td class="col actions">
                        <form data-role="tocart-form" action="<?php echo $block->getAddToCartUrl($product); ?>" method="post">
                            <?php echo $block->getBlockHtml('formkey') ?>
                            <button type="submit" title="Add to Cart" class="action tocart primary">
                                <span><?php echo /* @escapeNotVerified */ __('Add to Cart') ?></span>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
            <?php endforeach; ?>
        </table>
    </div>
<?php endif; ?>
