/*
 * @author IT Delight
 * @copyright Copyright (c) 2019 Convert (http://itdelight.com/)
 */

& when (@media-common = true) {
  .additional-category-products {
    float: left;
    width: 75%;
  }
}
